.transaction-form {
  max-width: 60%;
  margin: 8rem auto;
  padding: 3rem;
  background-color: #f4f4f4;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.transaction-form h2 {
  margin-bottom: 1rem;
  text-align: center;
  color: black;
}

.transaction-form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.transaction-form input {
  width: 100%;
  padding: 0.6rem;
  border: 1.5px solid #ccc;
  border-radius: 13px;
  margin-bottom: 1.3rem;
  font-size: 1rem;
}
.note-input {
  width: 100%;
  height: 100px;      /* bigger height */
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  resize: vertical;   /* optional, allow vertical resize */
}
.transaction-form select {
  width: 103%;
  padding: 0.6rem;
  border: 1.5px solid #ccc;
  border-radius: 13px;
  margin-bottom: 1.3rem;
  font-size: 1rem;
}

.transaction-form button {
  width: 100%;
  padding: 0.75rem;
  background-color: green;
  color: white;
  font-weight: bold;
  border: 10px;
  border-radius: 13px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.transaction-form button:hover {
  background-color: blue;
}
